* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
background: #ECF2FF;
}

h1 {
background-color: lightgreen;
}
h2 {
color: #9384D1;
font-family: 'Lobster', cursive;
text-align:center;
}
h3 {
color: #FFDCB6;
background-color: #C9A7EB;
text-align:center;
}

ul li a:
 button {
font-weight: 500;
font-size: 16px;
color: #9384D1;
text-decoration: none;
}

button {
padding: 9px 25px;
background-color: #ECC9EE;
border: none;
border-radius: 50px;
cursor:
tar;
}

.menubar {
	background: #A4D0A4;
	text-align: center;
}
.menubar ul {
	display: inline-flex;
	list-style: none;
	color: #FFF8D6
}
.menubar ul li {
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menubar ul li a {
	text-decoration: none;
	color: #FFF8D6;
}
.active, .menubar ul li:hover {
	background: #617A55;
	border-radius: 3px;
}
.menubar .fa {
	margin-right: 8px;
}
.arizonadrp {
	display: none;	
}
.menubar ul li:hover .arizonadrp {
	display: block;
	position: absolute;
	background: #408E91;
	margin-top: 15px;
	margin-left: -15px;
}
.menubar ul li:hover .arizonadrp ul {
	display: block;
	margin: 10px;
	
}
.menubar ul li:hover .arizonadrp ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #FFF8D6;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menubar ul li:hover .arizonadrp ul li:last-child {
	border-bottom:none;
}
.menubar ul li:hover .arizonadrp ul li a:hover {
	color: #E49393;
}
#contact {
	float: right;
}
.logo{
	position: relative;
	top: -55px;
	margin: 0;
}
.slider{
	width: 1920px;
	height: 800px;
	border-radius: 10px;
	overflow: hidden;

}
.slides{
	width: 1920px;
	height: 800px;
	display: flex;
}

.slides input{
	display:none;
}

.slide{
	width: 100%;
	transition: 2s;
}

.slide img{
	width: 1920px;
	height: 800px;
}

.navigation-manual{
	position: absolute;
	width: 1920px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
	
}

.manual-btn:hover{
	background: #40D3DC
}

#radio1:checked ~ .first{
	margin-left:0;
}

#radio2:checked ~ .first{
	margin-left:-100%;
}
#radio3:checked ~ .first{
	margin-left:-200%;
}
#radio4:checked ~ .first{
	margin-left:-300%;
}
#radio5:checked ~ .first{
	margin-left:-400%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 1920px;
	justify-content: center;
	margin-top: 765px;
	
}

.navigation-auto div{
	border: 2px solid #40D3DC;
	paddig: 10px;
	border-radius: 10px;
	transition: 1s;
	
}

.navigation-auto div:not(:last-child){
	margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #40D3DC
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #40D3DC
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #40D3DC
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #40D3DC
}
#radio5:checked ~ .navigation-auto .auto-btn5{
	background: #40D3DC

}

