* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
background: #FFDCB6;
}

h1 {
background-color: #C9A7EB;
}
h2 {
color: #9384D1;
font-family: 'Lobster', cursive;
text-align:center;
}
h3 {
color: #FFDCB6;
background-color: #C9A7EB;
text-align:center;
}

ul li a:
 button {
font-weight: 500;
font-size: 16px;
color: #9384D1;
text-decoration: none;
}

button {
padding: 9px 25px;
background-color: #ECC9EE;
border: none;
border-radius: 50px;
cursor:
tar;
}

.menubar {
	background: #A4D0A4;
	text-align: center;
}
.menubar ul {
	display: inline-flex;
	list-style: none;
	color: #FFF8D6
}
.menubar ul li {
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menubar ul li a {
	text-decoration: none;
	color: #FFF8D6;
}
.active, .menubar ul li:hover {
	background: #617A55;
	border-radius: 3px;
}
.menubar .fa {
	margin-right: 8px;
}
.arizonadrp {
	display: none;	
}
.menubar ul li:hover .arizonadrp {
	display: block;
	position: absolute;
	background: #408E91;
	margin-top: 15px;
	margin-left: -15px;
}
.menubar ul li:hover .arizonadrp ul {
	display: block;
	margin: 10px;
	
}
.menubar ul li:hover .arizonadrp ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #FFF8D6;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menubar ul li:hover .arizonadrp ul li:last-child {
	border-bottom:none;
}
.menubar ul li:hover .arizonadrp ul li a:hover {
	color: #E49393;
}
#contact {
	float: right;
}
.logo{
	position: relative;
	top: 50px;
}